body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;

  gap: 2rem;
  height: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

@media (min-width: 0px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1400px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  main {
    width: 90%;
    margin-inline: auto;
  }
}

.name {
  font-size: 1.5rem !important;
}

.logo {
  font-size: 1rem !important;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.notebook-1 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(0, 17, 147) 0%,
    rgb(3, 84, 197) 30%,
    rgb(124, 210, 239) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
    font-size: 1rem !important;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}

.notebook-2 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(113, 0, 81) 0%,
    rgb(158, 0, 121) 30%,
    rgb(243, 132, 211) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}

.notebook-3 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(0, 85, 10) 0%,
    rgb(34, 255, 0) 30%,
    rgb(5, 220, 105) 60%,
    rgb(0, 174, 227) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}

.notebook-4 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(147, 0, 122) 0%,
    rgb(3, 158, 197) 30%,
    rgb(239, 124, 212) 60%,
    rgb(3, 97, 197) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}

.notebook-5 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(147, 49, 0) 0%,
    rgb(197, 87, 3) 30%,
    rgb(239, 191, 124) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}

.notebook-6 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(147, 135, 0) 0%,
    rgb(49, 169, 1) 30%,
    rgb(234, 232, 97) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
  }
}
