body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  height: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.logo {
  font-size: 1rem !important;
  font-weight: 100;
}

.notebook-1 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(0, 17, 147) 0%,
    rgb(3, 84, 197) 30%,
    rgb(124, 210, 239) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}

.notebook-2 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(67, 2, 60) 0%,
    rgb(145, 23, 116) 30%,
    rgb(237, 83, 193) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}

.notebook-3 {
  height: 600px;
  width: 400px;
  position: relative;
  box-shadow: -10px 15px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: radial-gradient(
    circle,
    rgb(0, 85, 10) 0%,
    rgb(44, 157, 27) 30%,
    rgb(115, 233, 115) 100%
  );

  .name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    text-align: center;
    width: 100%;
  }

  .logo {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
  }
}
